 :root {
    --ff-serif-head: 'Fredoka', sans-serif;
    --ff-serif-body: 'Source Sans Pro', sans-serif;

    --yellow: #FFD32D;
    --btn-red: #DA1212;
    --btn-blue: #56BBF1;
    --btn-green: #65C18C;
}

::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-serif-body);
}

/* .bg {
    background-image: url(/assets/karen-lau-z_S5m-dqADA-unsplash.jpg);
} */

h1,
h2 {
    font-family: var(--ff-serif-head);
    font-size: 3rem;
    color: var(--yellow);
    margin: 1em auto;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center; 
}

#increment-btn {
    background-color: var(--btn-red);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: 5em auto;
    padding: 2em 5em;
    font-family: var(--ff-serif-head);
    text-transform: uppercase;
    cursor: pointer;
}

#decrement-btn {
    background-color: var(--btn-blue);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: 5em auto;
    padding: 2em 5em;
    font-family: var(--ff-serif-head);
    text-transform: uppercase;
    cursor: pointer;
}

#save-btn {
    background-color: var(--btn-green);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: 5em auto;
    padding: 2em 5em;
    font-family: var(--ff-serif-head);
    text-transform: uppercase;
    cursor: pointer;
}

#save-el {
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
}


@media (max-width: 900px){
    .container {
        flex-direction: column;
        display: block;
        text-align: center;
    }
}
